<div class="footer">
    <!-- <footer class="bg-light text-center text-lg-start">
        Copyright
        <span>j</span>
        <div class="text-center p-3" style="background-color: rgba(24,24,24,255); height: 90px;">
            <span>hi</span>
          <img src="assets\images\play.png">
          <a class="light" href="https://mdbootstrap.com/">Kevin Prince</a>
        </div>
        Copyright
      </footer> -->
      <footer class="footer">
        <!-- <p class="footerP">© Axel Halldin 2016 ©</p> -->
        <div class="socialMedias"> <img src="assets\images\play1.png" id="bg">
        </div>
        </footer>
    
</div>