.footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  /* background-color: red; */
  /* color: white; */
  text-align: center;
  background-size: cover;
  
  
}
#bg
{
    left: 0;
  bottom: 0;
/* width: 1220px; */
width: 1285px;
  height: 80px;
  padding-left: 200px;

  background-size: 100% 100%;
  background-size: cover;
  

}