.footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  /* background-color: red; */
  /* color: white; */
  text-align: center;
  background-size: cover;
  
  
}
#bg
{
    left: 0;
  bottom: 0;
width: 1420px;
  height: 80px;

  background-size: 100% 100%;

}