<section class="sec">
    <div class="cont">
        <!-- <h2>ALL SONGS</h2> -->
        <div style="border: 5px solid #05445E; border: radius 10px;background-color:#a8d2fa" id="header">
            <h1 style="font-size:3.2rem;letter-spacing:0.8;color:black;font-weight: 900;font-family: 'Bebas Neue', cursive">EXPLORE</h1>
            </div>
        <div class="container" id="container12">
            <form action="" method="POST">
                <span style="font-size:2.2rem;letter-spacing:0.8;color:black;font-weight: 400;font-family: 'Bebas Neue', cursive">GENRE</span>
                <select name="myselect" id="myselect" onchange="this.form.submit()">
                    <option value="CLASSIC">CLASSIC</option>
                    <option value="ROCK">ROCK</option>
                    <option value="MELODY">MELODY</option>
                    <option value="POP">POP</option>
                </select>
            </form>
        </div>
        <div class="container" id="container11">
            //you can add your content here
        </div>
    </div>
</section>