<nav class ="navbar bg-dark">
    <a class="navbar-brand" href="#" ><img src="assets\images\logo.jpeg" alt="img" class="logo"></a>
    <ul class ="navbar-nav">
    <li class ="nav-item">
    <a  routerLink="/home" routerLinkActive="active"> Home </a>
    </li>
    <li class ="nav-item">
    <a routerLink="/songs" routerLinkActive="active"> All Songs</a>
    </li>
    <li class ="nav-item">
    <a  routerLink="/song" routerLinkActive="active"> Song </a>
    </li>
    <li class ="nav-item">
    <a  routerLink="/favourite" routerLinkActive="active"> Favourite </a>
    </li>
    <li class ="nav-item">
    <a  routerLink="/explore" routerLinkActive="active"> Explore </a>
    </li>
    </ul>
    </nav>
