<section class="sec">
    <div class="cont">
        <!-- <h2>ALL SONGS</h2> -->
        <div style="border: 5px solid #05445E; border: radius 10px;background-color:#a8d2fa" id="header">
            <h1 style="font-size:3.2rem;letter-spacing:0.8;color:black;font-weight: 900;font-family: 'Bebas Neue', cursive">FAVOURITES</h1>
            </div>
        
        <div class="container" id="container11" >
            <div class="row">
                <div class="col-md-4">
                    <div class="well"><img src="assets\images\song.png" class="song">
                        <br/>
                        <br/>
                        
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well">Songname}}</div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well">Artist}}</div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well">dur}}</div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well">genre}}</div>
                        </div>
                        
                    </div>
                    
                </div>
               
            </div>
        </div>
    </div>
</section>