<section class="sec">
    <div class="cont">
        <!-- <h2>ALL SONGS</h2> -->
        <div style="border: 5px solid #05445E; border: radius 10px;background-color:#a8d2fa" id="header">
            <h1 style="font-size:3.2rem;letter-spacing:0.8;color:black;font-weight: 900;font-family: 'Bebas Neue', cursive">FAVOURITES</h1>
            </div>
        
        <div class="container" id="container11" >
            <table>
                <tr id="head1">
                    <td>#</td>
                    <td id="title">TITLE</td>
                    <td>ALBUM</td>
                    <td>DURATION</td>
                </tr>
                
                <tr>
                    <td>1</td>
                    <td id="det"><img src="assets\images\song.png" class="song"><span id="songname">DESIRES</span><div id="singer">AP DHILLON</div></td>
                    <td id="allign">ROCK</td>
                    <td id="allign">2:00</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td id="det"><img src="assets\images\song.png" class="song"><span id="songname">DESIRES</span><div id="singer">AP DHILLON</div></td>
                    <td id="allign">ROCK</td>
                    <td id="allign">2:00</td>
                </tr>
            </table>
        </div>

    </div>
</section>