#container1{
    /* padding-left: 200px; */
    /* margin-top: 20px; */
    padding-top: 40px;
    padding-left: 50px;
    font-size: 40px;
    height: 400px;
    width:500px;
    background-color: beige;
    border-radius: 60px;
    color: white;
    margin-right: 380px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    /* font-size: large; */
}
p{
    padding-top: 20px;
    /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
}
.sec{
    height: 500px;
    padding-top: 40px;
}
